*{
    margin: 0;
    padding: 0;
    font-family: 'Libre Bodoni', serif;
}

body{
   min-height: 100vh;
   height: 1087;
   background: rgb(238,238,238);
   background: radial-gradient(circle, rgba(238,238,238,1) 13%, rgba(192,192,192,1) 60%, rgba(238,238,238,1) 98%);
}

h1{
    margin: 20px;
    text-align: center;
    font-size: 70px;
    width: 250px;
}


/*Use multiple class selector*/
#container{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.container-2{
    display: flex;
    justify-content: flex-start;
}

.container-3{ 
    display: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.container-4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*Use multiple class selector*/
.section-1{
   border: 1px solid black;
   height: 500px;
   width: 250px;
   border-radius: 20px;
}

.section-2{
    border: 1px solid black;
    height: 500px;
    width: 900px;
    border-radius: 20px;

    display: flex;
}


/*Use multiple class selector*/
.section-1:hover{
    box-shadow: 10px 5px 5px black;;
}

.section-2:hover{
    box-shadow: 10px 5px 5px black;
}


/*Use multiple class selector*/
#book1{
    
    height: 120px;
    width: 120px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#book2{
   
    height: 120px;
    width: 120px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#book3{
    
    height: 120px;
    width: 120px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


.booknum{
    font-size: 40px;
    font-family: 'Libre Bodoni', serif;
}

#getData{
    width: 250px;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #CCCCCC;

   
}

#headers{
    position: relative;
    
    width: 250px;
    height: 50px;
    font-family: 'Libre Bodoni', serif;
    font-size: 30px;
    text-decoration: underline;

    
}

#newContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
}

button:hover{
    width: 100px;
    height: 55px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px black;
}

#buttonContainer{
    width: 250px;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

/*Code to allign all the input feilds*/
label{
   display: flex;
}

input{
    display: flex;
}

#title{
    text-decoration: blink;
}

#displayBookShelf{
    width: 652px;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
}

/*Everything below try to use javascript*/

#practice{
    height: 200px;
    width: 150px;
    border: 1px solid black;
    margin: 8px;
    border-radius: 20px;
}

#practice:hover{
    box-shadow: 0px 0px 4px 4px black;
}

#forTitle{
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgba(71,173,150,255);
    height: 50.5px;
    border: 0.5 solid black;

    display: flex;
    justify-content: center;
}

#forAuthor{
    
    background-color: rgba(236,179,72,255);
    height: 50.5px;
    border: 0.5 solid black;

    display: flex;
    justify-content: center;
}

#forPages{
    background-color: rgba(93,133,189,255);
    height: 50.5px;
    border: 0.5 solid black;

    display: flex;
    justify-content: center;
}

#readOrNot{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 50.5px;
    border: 0.5 solid black;
    background-color: silver;

    display: flex;
    justify-content: center;
    align-self: center;
}

.fixFont{
    font-size: 12px;
    
}

#fordivButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonRemove{
    height: 30.5px;
    
}

